/*

Monospace
--------
BASE

by @derrybirkett

*/


body {
	padding-top: 80px;
	background:url('../images/bg.jpg') top right no-repeat fixed;
	background-size:100%;
	background-color:darken(@base,0%);
	font-weight:300;
}


a {
	text-decoration:none !important;
	color:@primary;
	&:hover { 
		color:lighten(@primary,15%); 
		
	}
	transition: 0.2s;                                                                                                                              
	-webkit-transition: 0.2s; /* Safari */ 
}

/* Content */
.content {
	color:white;
	min-height:500px;
	margin-top:20px;
}



/* Category */
.category {
	h1 {
		margin-top:50px;
	}
}



/* ----------------------------------------------------
SINGLE 

---------------------------------------------------- */
.post-header {

    /* Category title & description */
    h4 {
        margin-bottom:0.5em;
    }
    .subtitle {
        font-size:14px;
    }

    /* Entry title */
    h1 {
        font-family:"Lato" !important;
        font-size:58px;
        line-height:1.1em;
        font-weight:100;
    }
    .abstract {
        font-size:18px;
        font-weight:200;
        margin-top:1em;
    }
}

.post-content {
	padding-top:20px;
	p {
		font-size:18px;
		line-height:36px;
		margin:2em 0em;
		&.lead {
			.h2;
            margin:1em 0em;
		}
	}
}

