/*

    Monospace
    --------
    COMPONENTS
    by @derrybirkett


    C O N T E N T S
    ----------------
    010 Welcome Block
    Pagination
    Tags
    Navbar
    Panels
    Isotope
    Author
    ...

*/



/* -----------------------------------------------
    010 Welcome 


------------------------------------------------- */
    .welcome {
        margin:50px 0px;
        .icon { margin-right:10px;}
        .h2 {
            line-height:1em;
            font-size:48px;
        }
    }


/* -----------------------------------------------
    00 List style 


------------------------------------------------- */

    .liststyle {
        .category {
            h2 {
                margin-bottom:0px;
                font-size:48px;
            }
            .category-title {
                display:none;
            }
            .subtitle {
                color:#999;
            }
        }
        .featured-image { 
                height:350px; 
                background-position:center center;
                background-size:100%;
        }
        .description {
            padding-right:2em;
            h3 {
                font-weight: 100;
                font-size: 32px;
                line-height: 1.3em;
                margin:0.8em 0em 0.5em;
                a {
                    color: white;
                }
            }
            p { 
                font-size:14px;
                line-height:24px;
                letter-spacing: 0.5px;
                &.more-link {
                    margin-top:1.5em;
                }
            }
        }
        .row { 
                margin-bottom:80px;
                margin-top:30px;
            }
    }

/* -----------------------------------------------
    Pagination
     

------------------------------------------------- */
.pagination > li > a, .pagination > li > span {
	background-color:transparent;
	border:0px;
	&:hover {
		.primary;
	}
}

/* -----------------------------------------------
    Tags
     

------------------------------------------------- */
ul.tags {
	padding:0px; margin:0px;
	list-style:none;
	li {
		border-right:2px solid @primary;
		padding-right:8px;
		margin:8px 0px;
		.very-small-caps;
		font-weight:300;
	}
}

/* -----------------------------------------------
    Strip
     

------------------------------------------------- */
.strip {
	.primary;
	min-height:80px;
	line-height:80px;
}

/* -----------------------------------------------
    Buttons
     

------------------------------------------------- */
.btn {
	padding:10px;
	&.dark {
		a {
			color:white;
			&:hover {
				.primary;
				font-weight:700;
			}
		}
	}
	&.primary {
		.primary;
		color:white;
	}
}


/* For ICONS */
.icon {
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
	padding:10px;

    /* Add an outline */

	&.outline {
        border: 1px solid;
        border-radius: 25px;
        padding: 15px;
	}
}

/* -----------------------------------------------
    Header
     

------------------------------------------------- */
.simple-header {
	margin-bottom:50px;
	.logo { height:80px;  }
}


/* -----------------------------------------------
    Logo
     

------------------------------------------------- */
.logo {
	background-image:url('../images/monospace_white.svg');
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	height:50px; 

	&.small {
		height:10px; 
	}
}

/* -----------------------------------------------
    Navbar
     

------------------------------------------------- */
.navbar-inverse .navbar-nav>li>a, av>li>a {
	color:white;
}

.navbar {
	margin-bottom:0px;
	background:@base;
	border:none;

	.navbar-brand {
		.smallcaps;	
		font-weight:600;
		line-height:@baseline;	
		.logo {
			background-position:center left;
			height:50px;
			padding-left:70px;
			width:200px;
			letter-spacing:7px; color:white;
		}
	}

	.navbar-toggle {
		margin-top:22px;
	}

	li {
		a {
			line-height:@baseline;	
		}
	}


	.dropdown {
		&.open {
			a.dropdown-toggle { background:@base; color:@primary; }
		}
		.dropdown-menu {
			.dark;
			border:none;
			padding:0px;
			li {
				a {
					.btn.dark;
					color:white;
					&:hover { 
						.primary; 
					}
				}
			}
		}
	}

}


/* --------------------------------------------------
Masthead 

--------------------------------------------------*/
.masthead {
	height:490px;
	
	/* Background image settings */
	background-size:100%;
	background-position:center center;

	/* Fix heights of contens to enable position bottom */
	.container, .col { height:inherit }
	
	/* Position Elements Bottom */
	.author, .entry-header { position:absolute; bottom:50px;}

	/* Special Tags position */
	.right, .tags { 
            text-align:right; 
            float:right; 
            a {
                color:white;
                &:hover {
                    color:@primary;
                }
            }
    }	
}


/* --------------------------------------------------
Isotope 

--------------------------------------------------*/
#isotope {
	margin:20px 0px;
	.post { 
		overflow:hidden;
		padding-left:0px;
	}
	.item.w2 { width: 50%; }
}
	


/* -----------------------------------------------
    Panels
     

------------------------------------------------- */
.thumbnail {
	padding:0px;
	border:0px;
	border-radius:0px;
	img {
		width:100%;
	}
	.caption {
		.light;
		padding:20px 20px;
		h3 {			
			font-weight:300;
			margin-top:10px;
			margin-bottom:15px;
			font-size:28px;
		}
		
	}
	ul.collections {
		padding:0px; margin:0px;
		li.label {
			margin: 0;
			position: absolute;
			margin-top: -31px;
			border-radius:0px;
			.btn.primary;
			padding:10px;
			a {
				color:white;
			}
		}
	}
}


/* Footer */
.footer {
	text-align:center;
	color:#444;
	padding:50px;
}



/* Author */
.author {
    .avatar {
        margin:20px 0px;
    }

    .tab-content {
        .tab-pane {
            margin-bottom:0px;
        }
    }

    .h4 {
        opacity:1;
    }
    .byline {
        font-size:20px;
        margin: 0.5em 0em 0.5em;
    }
    .bio {
        font-size:14px;
        line-height:18px;
        margin-top:-5px;
        .faded;
    }
}


/* -----------------------------------------------
    00 Sponsor 


------------------------------------------------- */

    .sponsor {
           .medium-banner {
                height:100px;   
                width:auto;
           }

           p { 
               .very-small-caps;
                margin:1em 0em;
            }
    }



/* -----------------------------------------------
    00 STRIP 
    Single row for various uses

        00 Newsletter
        
------------------------------------------------- */

    .strip {
        .smallcaps;
        color:white;
        letter-spacing:normal;

        form {
            input {
                background: none;
                border: 1px solid white;
                border-radius: 50px;
                max-height: 25px;
                line-height: 25px;
                padding: 25px;
                color: white;
                font-size: 14px;
                width: 100%;
            }
        }

        .fa, .fa:hover {
            .icon.outline;
            color:white;
            border-color:white;
            margin-left:5px;
        }

    }


/* -----------------------------------------------
    00 SHARE 
    Sharing box under each article, and wherever

------------------------------------------------- */

    .shareme {
        border:1px solid @lighter;
        padding:20px;
        .social {
            padding:10px 0px;
             i {
                .icon.outline;
             }
        }
    }



/* -----------------------------------------------
    00 SIDEBAR 


------------------------------------------------- */

    .sidebar {
        .tab-content {
            .tab-pane {
                /* Add spacing below the tabbed content panels */
                margin-bottom:50px;
            }   
        }
    }

/* -----------------------------------------------
    00 BOOTSTRAP OVERWRITES 
        010 Pills

------------------------------------------------- */

   .nav-pills {
        & > li {
            a {
                font-size:9px;
                padding:0px;
                margin-right:1em;
                color:@light;
                i,.fa { color:@light; }
                &:hover { 
                    background:none; 
                    color:@primary;
                }
            }
            &.active {
                a {
                    background:none;
                    color:@primary;
                    i,.fa { color:@primary; }
                    &:hover { 
                            color:@primary; 
                            background:none; 
                    }
                }
            }
        }
    }


