@import url(http://fonts.googleapis.com/css?family=Lato:100);
/* 

Monospace
----------------
A gallery/portfolio/magazine style theme

author: @derrybirkett
----------
*/
/*

Monospace
---------

Palette


*/
/* Shades */
/* Colour Combos */
.light {
  background-color: white;
  border-color: white;
  color: #252525;
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  color: #252525;
}
.light h1 a,
.light h2 a,
.light h3 a,
.light h4 a,
.light h5 a,
.light h6 a {
  color: #252525;
}
.light h1 a:hover,
.light h2 a:hover,
.light h3 a:hover,
.light h4 a:hover,
.light h5 a:hover,
.light h6 a:hover {
  color: #68c39f;
}
.dark {
  background-color: #252525;
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}
.dark h1 a,
.dark h2 a,
.dark h3 a,
.dark h4 a,
.dark h5 a,
.dark h6 a {
  color: white;
}
.primary {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
}
/*

Monospace
---------
TYPOGRAPHY

by @derrybirkett

*/
/* Fonts */
/* Typography */
.subtitle {
  color: #999;
}
.faded {
  opacity: .5;
}
.centered {
  text-align: center;
}
.smallcaps {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
}
.very-small-caps {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 9px;
  font-weight: 500;
}
.last {
  margin-right: 0px;
  padding-right: 0px;
}
/* Styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  font-family: 'proxima-nova', sans-serif !important;
}
h1,
.h1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1px;
  font-weight: 200;
}
h2,
.h2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  font-weight: 200;
}
h4,
.h4 {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 9px;
  font-weight: 500;
}
li {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
}
p {
  font-size: 16px;
  font-weight: 300;
}
/* Fontawesome */
.fa {
  margin-right: 0.5em;
}
.fa.fa-square {
  color: #68c39f;
}
/* -----------------------------------------------
    00 Sidebar 
    Typographic styles for sidebars

------------------------------------------------- */
.sidebar {
  /* Articles */
}
.sidebar h1 {
  letter-spacing: normal;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  margin-top: 0.7em;
  margin-bottom: 0.4em;
}
.sidebar .byline {
  margin: 0em 0em 1em;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 9px;
  font-weight: 500;
  color: #a5a5a5;
}
.sidebar p {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
}
/*

    Monospace
    --------
    COMPONENTS
    by @derrybirkett


    C O N T E N T S
    ----------------
    010 Welcome Block
    Pagination
    Tags
    Navbar
    Panels
    Isotope
    Author
    ...

*/
/* -----------------------------------------------
    010 Welcome 


------------------------------------------------- */
.welcome {
  margin: 50px 0px;
}
.welcome .icon {
  margin-right: 10px;
}
.welcome .h2 {
  line-height: 1em;
  font-size: 48px;
}
/* -----------------------------------------------
    00 List style 


------------------------------------------------- */
.liststyle .category h2 {
  margin-bottom: 0px;
  font-size: 48px;
}
.liststyle .category .category-title {
  display: none;
}
.liststyle .category .subtitle {
  color: #999;
}
.liststyle .featured-image {
  height: 350px;
  background-position: center center;
  background-size: 100%;
}
.liststyle .description {
  padding-right: 2em;
}
.liststyle .description h3 {
  font-weight: 100;
  font-size: 32px;
  line-height: 1.3em;
  margin: 0.8em 0em 0.5em;
}
.liststyle .description h3 a {
  color: white;
}
.liststyle .description p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.liststyle .description p.more-link {
  margin-top: 1.5em;
}
.liststyle .row {
  margin-bottom: 80px;
  margin-top: 30px;
}
/* -----------------------------------------------
    Pagination
     

------------------------------------------------- */
.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 0px;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
}
/* -----------------------------------------------
    Tags
     

------------------------------------------------- */
ul.tags {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
ul.tags li {
  border-right: 2px solid #68c39f;
  padding-right: 8px;
  margin: 8px 0px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 9px;
  font-weight: 500;
  font-weight: 300;
}
/* -----------------------------------------------
    Strip
     

------------------------------------------------- */
.strip {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  min-height: 80px;
  line-height: 80px;
}
/* -----------------------------------------------
    Buttons
     

------------------------------------------------- */
.btn {
  padding: 10px;
}
.btn.dark a {
  color: white;
}
.btn.dark a:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
  font-weight: 700;
}
.btn.primary {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
}
/* For ICONS */
.icon {
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  /* Add an outline */
}
.icon.outline {
  border: 1px solid;
  border-radius: 25px;
  padding: 15px;
}
/* -----------------------------------------------
    Header
     

------------------------------------------------- */
.simple-header {
  margin-bottom: 50px;
}
.simple-header .logo {
  height: 80px;
}
/* -----------------------------------------------
    Logo
     

------------------------------------------------- */
.logo {
  background-image: url('../images/monospace_white.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50px;
}
.logo.small {
  height: 10px;
}
/* -----------------------------------------------
    Navbar
     

------------------------------------------------- */
.navbar-inverse .navbar-nav > li > a,
av > li > a {
  color: white;
}
.navbar {
  margin-bottom: 0px;
  background: #252525;
  border: none;
}
.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-weight: 600;
  line-height: 48px;
}
.navbar .navbar-brand .logo {
  background-position: center left;
  height: 50px;
  padding-left: 70px;
  width: 200px;
  letter-spacing: 7px;
  color: white;
}
.navbar .navbar-toggle {
  margin-top: 22px;
}
.navbar li a {
  line-height: 48px;
}
.navbar .dropdown.open a.dropdown-toggle {
  background: #252525;
  color: #68c39f;
}
.navbar .dropdown .dropdown-menu {
  background-color: #252525;
  color: white;
  border: none;
  padding: 0px;
}
.navbar .dropdown .dropdown-menu h1,
.navbar .dropdown .dropdown-menu h2,
.navbar .dropdown .dropdown-menu h3,
.navbar .dropdown .dropdown-menu h4,
.navbar .dropdown .dropdown-menu h5,
.navbar .dropdown .dropdown-menu h6 {
  color: white;
}
.navbar .dropdown .dropdown-menu h1 a,
.navbar .dropdown .dropdown-menu h2 a,
.navbar .dropdown .dropdown-menu h3 a,
.navbar .dropdown .dropdown-menu h4 a,
.navbar .dropdown .dropdown-menu h5 a,
.navbar .dropdown .dropdown-menu h6 a {
  color: white;
}
.navbar .dropdown .dropdown-menu li a {
  color: white;
}
.navbar .dropdown .dropdown-menu li a a {
  color: white;
}
.navbar .dropdown .dropdown-menu li a a:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
  font-weight: 700;
}
.navbar .dropdown .dropdown-menu li a:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
}
/* --------------------------------------------------
Masthead 

--------------------------------------------------*/
.masthead {
  height: 490px;
  /* Background image settings */
  background-size: 100%;
  background-position: center center;
  /* Fix heights of contens to enable position bottom */
  /* Position Elements Bottom */
  /* Special Tags position */
}
.masthead .container,
.masthead .col {
  height: inherit;
}
.masthead .author,
.masthead .entry-header {
  position: absolute;
  bottom: 50px;
}
.masthead .right,
.masthead .tags {
  text-align: right;
  float: right;
}
.masthead .right a,
.masthead .tags a {
  color: white;
}
.masthead .right a:hover,
.masthead .tags a:hover {
  color: #68c39f;
}
/* --------------------------------------------------
Isotope 

--------------------------------------------------*/
#isotope {
  margin: 20px 0px;
}
#isotope .post {
  overflow: hidden;
  padding-left: 0px;
}
#isotope .item.w2 {
  width: 50%;
}
/* -----------------------------------------------
    Panels
     

------------------------------------------------- */
.thumbnail {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .caption {
  background-color: white;
  border-color: white;
  color: #252525;
  padding: 20px 20px;
}
.thumbnail .caption h1,
.thumbnail .caption h2,
.thumbnail .caption h3,
.thumbnail .caption h4,
.thumbnail .caption h5,
.thumbnail .caption h6 {
  color: #252525;
}
.thumbnail .caption h1 a,
.thumbnail .caption h2 a,
.thumbnail .caption h3 a,
.thumbnail .caption h4 a,
.thumbnail .caption h5 a,
.thumbnail .caption h6 a {
  color: #252525;
}
.thumbnail .caption h1 a:hover,
.thumbnail .caption h2 a:hover,
.thumbnail .caption h3 a:hover,
.thumbnail .caption h4 a:hover,
.thumbnail .caption h5 a:hover,
.thumbnail .caption h6 a:hover {
  color: #68c39f;
}
.thumbnail .caption h3 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 28px;
}
.thumbnail ul.collections {
  padding: 0px;
  margin: 0px;
}
.thumbnail ul.collections li.label {
  margin: 0;
  position: absolute;
  margin-top: -31px;
  border-radius: 0px;
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
  padding: 10px;
}
.thumbnail ul.collections li.label a {
  color: white;
}
/* Footer */
.footer {
  text-align: center;
  color: #444;
  padding: 50px;
}
/* Author */
.author .avatar {
  margin: 20px 0px;
}
.author .tab-content .tab-pane {
  margin-bottom: 0px;
}
.author .h4 {
  opacity: 1;
}
.author .byline {
  font-size: 20px;
  margin: 0.5em 0em 0.5em;
}
.author .bio {
  font-size: 14px;
  line-height: 18px;
  margin-top: -5px;
  opacity: .5;
}
/* -----------------------------------------------
    00 Sponsor 


------------------------------------------------- */
.sponsor .medium-banner {
  height: 100px;
  width: auto;
}
.sponsor p {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 9px;
  font-weight: 500;
  margin: 1em 0em;
}
/* -----------------------------------------------
    00 STRIP 
    Single row for various uses

        00 Newsletter
        
------------------------------------------------- */
.strip {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
  letter-spacing: normal;
}
.strip form input {
  background: none;
  border: 1px solid white;
  border-radius: 50px;
  max-height: 25px;
  line-height: 25px;
  padding: 25px;
  color: white;
  font-size: 14px;
  width: 100%;
}
.strip .fa,
.strip .fa:hover {
  border: 1px solid;
  border-radius: 25px;
  padding: 15px;
  color: white;
  border-color: white;
  margin-left: 5px;
}
/* -----------------------------------------------
    00 SHARE 
    Sharing box under each article, and wherever

------------------------------------------------- */
.shareme {
  border: 1px solid #d8d8d8;
  padding: 20px;
}
.shareme .social {
  padding: 10px 0px;
}
.shareme .social i {
  border: 1px solid;
  border-radius: 25px;
  padding: 15px;
}
/* -----------------------------------------------
    00 SIDEBAR 


------------------------------------------------- */
.sidebar .tab-content .tab-pane {
  /* Add spacing below the tabbed content panels */
  margin-bottom: 50px;
}
/* -----------------------------------------------
    00 BOOTSTRAP OVERWRITES 
        010 Pills

------------------------------------------------- */
.nav-pills > li a {
  font-size: 9px;
  padding: 0px;
  margin-right: 1em;
  color: #a5a5a5;
}
.nav-pills > li a i,
.nav-pills > li a .fa {
  color: #a5a5a5;
}
.nav-pills > li a:hover {
  background: none;
  color: #68c39f;
}
.nav-pills > li.active a {
  background: none;
  color: #68c39f;
}
.nav-pills > li.active a i,
.nav-pills > li.active a .fa {
  color: #68c39f;
}
.nav-pills > li.active a:hover {
  color: #68c39f;
  background: none;
}
/*

Monospace
--------
BASE

by @derrybirkett

*/
body {
  padding-top: 80px;
  background: url('../images/bg.jpg') top right no-repeat fixed;
  background-size: 100%;
  background-color: #252525;
  font-weight: 300;
}
a {
  text-decoration: none !important;
  color: #68c39f;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  /* Safari */
}
a:hover {
  color: #9fd9c2;
}
/* Content */
.content {
  color: white;
  min-height: 500px;
  margin-top: 20px;
}
/* Category */
.category h1 {
  margin-top: 50px;
}
/* -----------------------------------------------
    010 Body Area 
    i.e. between Header and Footer

------------------------------------------------- */
.body {
  padding: 70px 0px;
}
/* ----------------------------------------------------
SINGLE 

---------------------------------------------------- */
.entry-header {
  /* Category title & description */
  /* Entry title */
}
.entry-header h4 {
  margin-bottom: 0.5em;
}
.entry-header .subtitle {
  font-size: 14px;
}
.entry-header h1 {
  font-family: "Lato" !important;
  font-size: 58px;
  line-height: 1.1em;
  font-weight: 100;
}
.entry-header .abstract {
  font-size: 18px;
  font-weight: 200;
  margin-top: 1em;
}
.entry-content p {
  font-size: 18px;
  line-height: 36px;
  margin: 2em 0em;
}
.entry-content p.lead {
  font-family: 'proxima-nova', sans-serif !important;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  font-weight: 200;
  margin: 0em 0em 1em;
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
}
/* -----------------------------------------------
    00 Sidebars 


------------------------------------------------- */
.sidebar {
  /* Put the sidebars slightly below the intro paragraph */
  padding-top: 10px;
  /* Featured images in the sidebar */
}
.sidebar .featured-image {
  height: 70px;
  width: auto;
  background-size: 100%;
  background-position: center center;
  margin-top: 10px;
}
