/* 

Project Monospace
----------------
A simple bootstrapped, isotoped theme for filtering posts.
author: @derrybirkett

----------
*/


/* Palette  */
@base:		#151515;
@primary:	#68C39F; //green
@secondary:	#EB5055; //red


/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);


/* Typography */
@baseline: 48px;

.smallcaps {
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:1px;
	font-weight:600;
}


h1 {
	font-weight:100;
	letter-spacing:1px;
}

li {
	.smallcaps;
}

p.intro {
	font-size:36px;
	line-height:38px;
	letter-spacing:0px;
}

/* Base */
body {
	background:#222;
	padding-top: 100px;
	font-family: 'Lato', sans-serif;
	background:url('../images/bg.jpg') top right no-repeat;
	background-size:cover;
	font-weight:300;
}

a {
	color:@primary;
	&:hover { color:@primary; }
}

nav>li>a {
	color:white;
}

/* Styles */
.base {
	background:@base; 
	color:white;
}

.primary {
	background:@primary;
	color:@base;
}

.btn-dark {
	.base;
	a {
		color:white;
		&:hover {
			.primary;
		}
	}
}

/* Components */
.logo {
	background-image:url('../images/monospace_white.svg');
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	height:50px; 

	&.small {
		height:10px; 
	}
}


/* Navbar */
.navbar {
	background:@base;
	border:none;

	.navbar-brand {
		.smallcaps;	
		line-height:@baseline;	
		.logo {
			background-position:center left;
			height:50px;
			padding-left:70px;
			width:200px;
			letter-spacing:7px; color:white;
		}
	}

	.navbar-toggle {
		margin-top:22px;
	}

	li {
		a {
			line-height:@baseline;	
		}
	}


	.dropdown {
		&.open {
			a.dropdown-toggle { background:@base; color:@primary; }
		}
		.dropdown-menu {
			.base;
			border:none;
			padding:0px;
			li {
				a {
					.btn-dark;
					&:hover { .primary; }
				}
			}
		}
	}

}


/* Content */
.content {
	color:white;
	min-height:500px;
	padding-top:20px;
}

.category-title {
	display:none;
}

/* Footer */
.footer {
}

/* Isotope */
#isotope {

	margin:50px 0px;

	.post { 
		overflow:hidden;
		padding-left:0px;
	}

	.thumbnail {
		padding:0px;
		background-color:#fff;
		border:0px;
		border-radius:0px;
		img {
			width:100%;
		}
		.caption {
			padding:15px 30px;
			h3 {			
				.smallcaps;
				font-weight:600;
				margin-top:10px;
				margin-bottom:5px;
			}
			p {
				color:#999;
			}
			
		}
	}

	.item.w2 { width: 50%; }
}
	
