@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
/* 

Project Moonbase
----------------
A simple bootstrapped, isotoped theme for filtering posts.

author: @derrybirkett

----------
*/
/* Fonts */
/* Typography */
.smallcaps {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
}
h1 {
  font-weight: 100;
  letter-spacing: 1px;
}
li {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
}
/* Base */
body {
  background: #222;
  padding-top: 100px;
  font-family: 'Lato', sans-serif;
  background: url('../images/nightcity.jpg') top right no-repeat;
  background-size: cover;
  font-weight: 300;
}
/* Navbar */
.navbar {
  border: none;
}
.navbar a {
  color: #ffffff;
}
.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 48px;
}
.navbar .navbar-brand .logo {
  background-image: url('../images/monospace_white.png');
  height: 50px;
  padding-left: 70px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  letter-spacing: 7px;
  color: white;
}
.navbar .navbar-toggle {
  margin-top: 22px;
}
.navbar li a {
  line-height: 48px;
}
/* Content */
.content {
  color: white;
  min-height: 500px;
}
/* Footer */
/* Isotope */
#isotope {
  margin: 50px 0px;
}
#isotope .post {
  overflow: hidden;
  padding-left: 0px;
}
#isotope .thumbnail {
  padding: 0px;
  background-color: #222;
  border: 0px;
  border-radius: 0px;
}
#isotope .thumbnail img {
  width: 100%;
}
#isotope .thumbnail .caption {
  color: white;
  padding: 15px 30px;
}
#isotope .thumbnail .caption h3 {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
#isotope .thumbnail .caption p {
  color: #999;
}
#isotope .item.w2 {
  width: 50%;
}
