/* 

Monospace
----------------
A gallery/portfolio/magazine style theme

author: @derrybirkett
----------
*/
/*

Monospace
---------

Palette


*/
/* Colour Combos */
.light {
  background-color: white;
  color: #252525;
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  color: #252525;
}
.light h1 a,
.light h2 a,
.light h3 a,
.light h4 a,
.light h5 a,
.light h6 a {
  color: #252525;
}
.light h1 a:hover,
.light h2 a:hover,
.light h3 a:hover,
.light h4 a:hover,
.light h5 a:hover,
.light h6 a:hover {
  color: #68c39f;
}
.dark {
  background-color: #252525;
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}
.dark h1 a,
.dark h2 a,
.dark h3 a,
.dark h4 a,
.dark h5 a,
.dark h6 a {
  color: white;
}
.primary {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
}
/*

Monospace
---------
TYPOGRAPHY

by @derrybirkett

*/
/* Fonts */
/* Typography */
.subtitle {
  color: grey;
}
.faded {
  opacity: .5;
}
.centered {
  text-align: center;
}
.smallcaps {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
}
.very-small-caps {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
}
.bio {
  font-size: 13px;
  line-height: 18px;
  margin-top: -5px;
  opacity: .5;
}
/* Styles */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'proxima-nova', sans-serif !important;
}
h1,
.h1 {
  font-size: 46px;
  line-height: 52px;
  letter-spacing: -1px;
  font-weight: 200;
}
h2,
.h2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
  font-weight: 200;
}
h4,
.h4 {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
}
.h4 {
  opacity: .5;
}
li {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
}
p {
  font-size: 16px;
  font-weight: 300;
}
/*

Monospace
--------
COMPONENTS

by @derrybirkett
*/
/* Tags lists */
ul.tags {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
ul.tags li {
  border-right: 2px solid #68c39f;
  padding-right: 8px;
  margin: 8px 0px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  font-weight: 300;
}
/* Components */
.strip {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  min-height: 80px;
  line-height: 80px;
}
.btn {
  padding: 10px;
}
.btn.dark a {
  color: white;
}
.btn.dark a:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
  font-weight: 700;
}
.btn.primary {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
}
.icon {
  padding: 10px;
}
.icon.outline {
  border: 1px solid;
  border-radius: 25px;
}
.icon:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
}
/* Simple Header */
.simple-header {
  margin-bottom: 50px;
}
.simple-header .logo {
  height: 80px;
}
.logo {
  background-image: url('../images/monospace_white.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50px;
}
.logo.small {
  height: 10px;
}
/* Navbar */
.navbar-inverse .navbar-nav > li > a,
av > li > a {
  color: white;
}
.navbar {
  margin-bottom: 0px;
  background: #252525;
  border: none;
}
.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  font-weight: 600;
  line-height: 48px;
}
.navbar .navbar-brand .logo {
  background-position: center left;
  height: 50px;
  padding-left: 70px;
  width: 200px;
  letter-spacing: 7px;
  color: white;
}
.navbar .navbar-toggle {
  margin-top: 22px;
}
.navbar li a {
  line-height: 48px;
}
.navbar .dropdown.open a.dropdown-toggle {
  background: #252525;
  color: #68c39f;
}
.navbar .dropdown .dropdown-menu {
  background-color: #252525;
  color: white;
  border: none;
  padding: 0px;
}
.navbar .dropdown .dropdown-menu h1,
.navbar .dropdown .dropdown-menu h2,
.navbar .dropdown .dropdown-menu h3,
.navbar .dropdown .dropdown-menu h4,
.navbar .dropdown .dropdown-menu h5,
.navbar .dropdown .dropdown-menu h6 {
  color: white;
}
.navbar .dropdown .dropdown-menu h1 a,
.navbar .dropdown .dropdown-menu h2 a,
.navbar .dropdown .dropdown-menu h3 a,
.navbar .dropdown .dropdown-menu h4 a,
.navbar .dropdown .dropdown-menu h5 a,
.navbar .dropdown .dropdown-menu h6 a {
  color: white;
}
.navbar .dropdown .dropdown-menu li a {
  color: white;
}
.navbar .dropdown .dropdown-menu li a a {
  color: white;
}
.navbar .dropdown .dropdown-menu li a a:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
  font-weight: 700;
}
.navbar .dropdown .dropdown-menu li a:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
}
/* --------------------------------------------------
Masthead 

--------------------------------------------------*/
.masthead {
  height: 490px;
  /* Background image settings */
  background-size: 100%;
  background-position: center center;
  /* Fix heights of contens to enable position bottom */
  /* Position Elements Bottom */
  /* Special Tags position */
}
.masthead .container,
.masthead .col {
  height: inherit;
}
.masthead .author,
.masthead .post-header {
  position: absolute;
  bottom: 50px;
}
.masthead .right,
.masthead .tags {
  text-align: right;
  float: right;
}
/* --------------------------------------------------
Isotope 

--------------------------------------------------*/
#isotope {
  margin: 20px 0px;
}
#isotope .post {
  overflow: hidden;
  padding-left: 0px;
}
#isotope .item.w2 {
  width: 50%;
}
/* Panels */
.thumbnail {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .caption {
  background-color: white;
  color: #252525;
  padding: 20px 20px;
}
.thumbnail .caption h1,
.thumbnail .caption h2,
.thumbnail .caption h3,
.thumbnail .caption h4,
.thumbnail .caption h5,
.thumbnail .caption h6 {
  color: #252525;
}
.thumbnail .caption h1 a,
.thumbnail .caption h2 a,
.thumbnail .caption h3 a,
.thumbnail .caption h4 a,
.thumbnail .caption h5 a,
.thumbnail .caption h6 a {
  color: #252525;
}
.thumbnail .caption h1 a:hover,
.thumbnail .caption h2 a:hover,
.thumbnail .caption h3 a:hover,
.thumbnail .caption h4 a:hover,
.thumbnail .caption h5 a:hover,
.thumbnail .caption h6 a:hover {
  color: #68c39f;
}
.thumbnail .caption h3 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 28px;
}
.thumbnail ul.collections {
  padding: 0px;
  margin: 0px;
}
.thumbnail ul.collections li.label {
  margin: 0;
  position: absolute;
  margin-top: -31px;
  border-radius: 0px;
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
  color: white;
  padding: 10px;
}
.thumbnail ul.collections li.label a {
  color: white;
}
/*

Monospace
--------
BASE

by @derrybirkett

*/
body {
  padding-top: 80px;
  background: url('../images/bg.jpg') top right no-repeat;
  background-size: 100%;
  background-color: #252525;
  font-weight: 300;
}
a {
  text-decoration: none !important;
  color: #68c39f;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  /* Safari */
}
a:hover {
  color: #9fd9c2;
}
/* Content */
.content {
  color: white;
  min-height: 500px;
  margin-top: 20px;
}
.category-title {
  display: none;
}
/* Footer */
.footer {
  text-align: center;
  color: #444;
  padding: 50px;
}
/* Welcome */
.welcome .icon {
  margin-right: 10px;
}
/* Pagination */
.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 0px;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #252525;
}
/* Category */
.category h1 {
  margin-top: 50px;
}
/* ----------------------------------------------------
SINGLE 

---------------------------------------------------- */
.post-content {
  padding: 30px 0px;
}
.post-content p {
  font-size: 18px;
  line-height: 36px;
  margin: 2em 0em;
}
.post-content p.lead {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
  font-weight: 200;
}
