/*

Monospace
---------
TYPOGRAPHY

by @derrybirkett

*/


/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100);


/* Typography */
@baseline: 48px;

.subtitle { 
    color:#999;
}

.faded { opacity:.5;}

.centered { text-align:center;}

.smallcaps {
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:1px;
	font-weight:400;
}
.very-small-caps {
	.smallcaps;
	font-size:9px;
    font-weight:500;
}

.last { margin-right:0px;padding-right:0px; }




/* Styles */
body,h1,h2,h3,h4,h5,h6,
.h2,.h3,.h4,.h5,.h6,
p {
	font-family: 'proxima-nova', sans-serif !important;
}

h1, .h1 {
	font-size:48px;
	line-height:56px;
	letter-spacing:-1px;
	font-weight:200;
}

h2, .h2 {
	font-size:36px;
	line-height:48px;
	letter-spacing:-1px;
	font-weight:200;
}

h4, .h4 { .very-small-caps; }

li {
	.smallcaps;
}

p {
	font-size:16px;
	font-weight:300;
}

/* Fontawesome */
.fa {
    margin-right:0.5em;
    &.fa-square {
        color:@primary;
    }
}

/* -----------------------------------------------
    00 Sidebar 
    Typographic styles for sidebars

------------------------------------------------- */

    .sidebar {

        /* Articles */
        h1 {
            letter-spacing:normal;
            font-size: 18px;
            line-height: 1.2em;
            font-weight:400;
            margin-top:0.7em;
            margin-bottom:0.4em;
        }

        .byline { 
            margin:0em 0em 1em; 
            .very-small-caps;
            color:@light;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            color: @light;
        }

    }
